html, body{
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: 'Arima Madurai', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Glory', sans-serif;
    font-family: 'Marck Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orelega One', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'PT Sans', sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    ;
    position: relative;
}
.circle_fon{
    background-color: black;
    border-radius: 50%;
    width: 370%;
    height: 370%;
    position: absolute;
    bottom: 6%;
}
.container_block{
    width: 50vw;
    height: 100%;
    z-index: 2;
    padding-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}
@media(max-width:900px) {
    .container_block{
        width: 80vw;
        
    }
}
.heading{
    width: 100%;
    color: #f2f2f2;
    text-align: center;
    font-size: 5vh;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}
@media(max-width:800px) {
    .heading{
        font-size: 3vh;
    }
}
.password_block{
    width: 100%;
    height: 15%;
    margin: 4vh 0px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    padding: 7px;
}
.password_value{
    width: 100%;
    font-size: 5vh;
    word-wrap: break-word;
    text-align: center;
}
@media(max-width: 800px) {
    .password_value{
        font-size: 3vh;
    }
}
@media(max-width: 300px) {
    .password_value{
        font-size: 2vh;
    }
}
.menu_container{
    width: 100%;
    height: 5%;
    border: 3px solid #2E5159;
    margin-bottom: 2vh;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu_p{
    color: white;
    font-family: 'Glory', sans-serif;
    font-size: 3vh;
    padding-left: 2vw;
    width: 25vw;
    margin: 0;
}
@media(max-width: 1020px) {
    .menu_p{
        padding-left: 4vw;
        font-size: 2vh;
        width: 150vw;
    }
}
@media(max-width: 500px) {
    .menu_p{
        padding-left: 4vw;
        font-size: 4vw;
        width: 150vw;
    }
}
label {
    margin-left: 2vw;
}
@media(max-width: 800px) {
    label{
        margin-left: 4vw;
    }
}
label input {
    display: none;
}
label span {
    height: 3vh;
    width: 3vh;
    display: flex;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
  }
  [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -28%;
    left: 10%;
    font-size: 4vh;
    color:rgb(0, 0, 0);
  }
.tooltip_block{
    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 5px;
}
@media(max-width: 800px) {
    .tooltip_block{
        padding-left: 4vw;
    }
}
.tooltip_circle{
    background-color: #2E5159;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vh;
    height: 4vh;
    font-family: 'Glory', sans-serif;
    font-size: 2.5vh;
    position: relative;
}
.tooltip_hidden{
    position: absolute;
    background-color: #A6A6A6;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -6vh;
    right: 6vh;
    border-radius: 5px;
    padding: 5px;
    width: 20vh;
    display: none;
}
.range_text{
    width: 6vw;
    margin-right: 2vh;
}
@media(max-width: 1000px) {
    .range_text{
        width: 11vw;
    }
}
.range_value{
    width: 3vw;
    padding-left: 0px;
    margin-right: 2vw;
    font-size: 4vh;
    font-family: 'Montserrat';
    font-weight: normal;
}
@media(max-width: 1000px) {
    .range_value{
        width: 10vw;
    }
}
input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 30vw;
    height: 5px;
    border-radius: 5px;
    outline: 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #2E5159;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
  }​
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #2E5159;
}
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.1);
}
@media(max-width: 1000px) {
    input[type="range"] {
        width: 37vw;
    }
}
.btns_container{
    height: 9%;
    width: 100%;
    position: relative;
    border: 0;
}
.btn{
    height: 100%;
    width: 48%;
    margin: 0 1%;
    font-size: 3vw;
    text-decoration: none;
    color: #ffffff;
    background-color: #2E5159;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media(max-width: 500px) {
    .btn{
        font-size: 5vw;
    }
}
.btn_block{
    height: 100%;
    width: 48%;
    padding: 0 1%;
}
.btn:active {
  background-color: #3D6D73;
}
.lang_choose_block{
    position: absolute;
    z-index: 2;
    color: white;
    font-family: 'Glory', sans-serif;
    right: 10px;
    top: 5px;
    cursor: pointer;
    border-radius: 2px;
}
.selects_container{
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 25px;
    width: 15px;
    height: 25px;
    background-color: black;
    cursor: pointer;
    border-radius: 2px;
    
}
.select{
    /* position: absolute; */
    z-index: 3;
    right: 10px;
    top: 25px;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
    margin: 5px 0px;
}

/* -------------------------------------------- Mobile horizontal --------------------- */
@media(max-height:500px) {
    .password_block{
        margin: 2vh auto;
    }
    .password_block{
        font-size: 6vh;
        height: 13%;
    }
    .menu_p{
        font-size: 3vh;
        padding-left: 2vw;
    }
    .range_text{
        width: 32px;
    }
    .range_value{
        width: 32px;
        font-size: 4vh;
    }
    input[type="range"] {
        width: 22vw;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
    }
    .btn{
        font-size: 2vw;
    }
}
