html, body{
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle_fon{
    background-color: black;
    border-radius: 50%;
    width: 7100px;
    height: 7100px;
    position: absolute;
    bottom: 80px;
}